.python-environments/
.smex-items
places
eshell/
elpa/
backups/
/auto-save-list/
ac-comphist.dat
url/
tramp
session*
ido.last
/bookmarks
/games/
/projectile-bookmarks.eld
/tutorial/
/lisp/custom.el
/auto-save-list/.saves-34273-mbp.local~
init.el~
/smex-items
/.tutor/
/custom.el
